body{
    background-color: steelblue;
    box-sizing: border-box;
}

.modelo{
    width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(236, 216, 216);
    border-radius: 15px 15px 80px 15px;
    box-shadow: 10px 10px 10px 0px black;
}

.esquina-izquierda,
.esquina-derecha,
.centro{
    height: 30px;
    border-style: solid;
    border-color: rgb(184, 167, 167);
}

.contenedor-de-cabecera{
    display: flex;
}

.esquina-derecha,
.esquina-izquierda{
    width: 50px;
    border-width: 0px 0px 9px 0px;
}

.centro{
    width: 71%;
    border-width: 0px 9px 9px 9px;
}

.pantalla{
    margin: 5% auto 0% auto;
    width: 70%;
    height: 45%;
    border-radius: 10px 10px 70px 10px;
    background-color: grey;
    border-color: rgb(83, 83, 83);
    border-style: solid;
    border-width: 0px 5px 5px 0px;
    padding-top: 10px;
}

.bandera{
    position: absolute;
    margin-left: 15px;
    width: 55px;
}

.bandera-2{
    width: 20px;
    margin-left: 88%;
}

.bandera,
.bandera-2{
    height: 15px;
    box-shadow: 0px 3.5px blue inset, 0px -3.5px red inset ;
}

.p1{
    position: absolute;
    margin-left: 75px;
    margin-top: 3px;
}

.p1,
.p2{
    font-size: 0.6rem;
}

.battery{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border-width: 2px;
    border-color: rgb(163, 0, 0) transparent transparent rgb(163, 0, 0);
    border-style: solid;
    margin-top: 80px;
    margin-left: 20px;
}

.p2{
    position: absolute;
    margin-top: 25px;
    margin-left: -17px;
}

.screen{
    margin: 20px auto 0px auto;
    width: 170px;
    height: 170px;
    background-color: rgb(65, 165, 65);
    border-color: rgb(45, 112, 45) rgb(59, 151, 59) rgb(59, 151, 59) rgb(45, 112, 45);
    border-width: 7px;
    border-style: solid;
}

.circle-pad{
    position: absolute;
    margin-left: 30px;
    margin-top: 17px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: conic-gradient(from 30deg,white, grey, white, grey, white);   
}

.pad,
.pad-2{
    position: absolute;
    border-radius: 10px;
    border: grey solid;
    background-color: black;
}

.pad{
    margin-top: 69px;
    margin-left: 50px;
    width: 100px;
    height: 45px;
    border-width: 2px 5px;
}

.pad-2{
    margin-top: 38px;
    margin-left: 82px;
    width: 45px;
    height: 100px;
    border-width: 5px 2px;
}

.circle-pad-2{
    position: absolute;
    z-index: 1;
    margin-left: 87px;
    margin-top: 73px;
    width: 40px;
    height: 40px;
    background-image: conic-gradient(white, black, black, grey, rgb(15, 15, 15),  rgb(15,15,15), white);
    border-radius: 50px;
}

.bgc-black{
    position: absolute;
    margin-top: 71px;
    margin-left: 80px;
    width: 53px;
    height: 45px;
    background-color: black;
}

.botones-fondo{
    position: absolute;
    width: 160px;
    height: 85px;
    border-radius: 60px;
    margin-top: 25px;
    margin-left: 230px;
    background-image: linear-gradient(grey, white);
    rotate: -30deg ;
}

.boton-1,
.boton-2{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    border-color: rgb(255, 56, 56) rgb(189, 1, 1) rgb(189, 1, 1) rgb(255, 56, 56);
    border-style: solid;
}

.boton-1{
    margin-top: 58px;
    margin-left: 252px;
}

.boton-2{
    margin-top: 22px;
    margin-left: 311px;
}

.boton-select,
.boton-start{
    position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 60px;
    background-image: linear-gradient(grey, white);
    rotate: -30deg ;
}

.boton-select{
    margin-top: 160px;
    margin-left: 120px;
}

.boton-start{
    margin-top: 170px;
    margin-left: 175px;
}

.botones-select,
.botones-start{
    position: absolute;
    width: 63px;
    height: 10px;
    border-radius: 20px;
    background-color: black;
    border-color: white grey grey white;
    border-style: solid;
    border-width: 4px;
    rotate: -30deg;
}

.botones-select{
    margin-top: 166px;
    margin-left: 129px;
}

.botones-start{
    margin-top: 176px;
    margin-left: 184px;
}

.cont-rejilla{
    display: flex;
    gap: 10px;
    position: absolute;
    margin-top: 165px;
    margin-left: 278px;
    rotate: -34deg;
}

.rejillas{
    width: 14px;
    height: 65px;
    background-color: grey;
}